@import "../styles/mixins.scss";

main {
    width: 100%;
    min-height: 100px;

    header {
        width: 100%;
        height: 1000px;
        background-image: url('/src/assets/images/demo-marketing-consultant.jpg');
        background-size: cover;
    }
}